button {
    border: none;
}

.container {
    margin-top: 47px
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2196f3;
}

.nav a {
    float: right;
    margin: 12px;
    background-color: transparent;
    outline: none;
    color: white;
}

.inline {
    display: inline-block;
}

.side-nav {
    width: 25%;
    background-color: #4c4c4c;
    color: white;
    float: left;
    height: 100vh
}

.side-nav a {
    color: white;
    display: block;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.6px;
}

.dash-content {
    width: 74%;
    float: left;
    
}